# ide
.idea/
.vscode/
.cursor/

# misc
.DS_Store
*.pem
__pycache__
.cache.sqlite
mistral/
models/
config.local.js
node_modules/
not_needed_files/

# env
.env*
!.env.example

# virtual environment
.venv/
.venv*/
# Local Netlify folder
.netlify
