pydantic-settings>=2.6.1
geopy==2.4.1
openmeteo-requests
requests-cache==1.2.0
retry-requests==2.0.0
xgboost==2.0.3
scikit-learn==1.2.2
plotly
nbformat
matplotlib==3.8.3
scipy>=1.16.3
hopsworks[python,polars,great-expectations]==4.1.2
requests>=2.31.0
pandas==2.1.4
sqlalchemy<=1.4.48
numpy>=1.26.4
seaborn
urllib3>=2.2.2
python-dotenv